*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Header */
header{
    background-image: linear-gradient(to bottom, #40D2FF, #12627A);
    height: 70vh;
}

/* Nav Bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.nav-logo{
    width: 110px;
}

.nav-logo img{
    width: 100%;
}

.nav-itens{
    display: flex;
    list-style: none;
}

.nav-item{
    padding: 0 22px;
}

.nav-link{
    color: rgb(5, 5, 61);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}

/* Fim da Nav Bar */

.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transform: translateY(10%);
}

.titulo-top{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(-2%);
}

.titulo-top img{
    width: 350px;
}

.titulo-top h1{
    font-size: 6rem;
    color: white;
}

.titulo p{
    font-size: 2rem;
    color: white;
}


/* MAIN */

main{
    padding: 3.5% 7%;
}

/* seção da proposta e imagens da ods */
.proposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ods{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ods img{
    width: 320px;
    padding: 20px 10px 85px 10px;
}

.proposta-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.proposta-texto h1{
    padding-bottom: 40px;
    font-size: 4rem;
}

.proposta-texto p{
    font-size: 1.5rem;
    text-indent: 30px;
    width: 1010px;
    text-align: justify;
    line-height: 1.8rem;
}

/* Fim da seção da PROPOSTA e ODS */

/* seção do celular */

.celular{
    display: flex;
    flex-direction: row;
    background-color: #71DBFB;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% -8%;
}

.celular-imagem img{
    width: 820px;
}

.celular-lista{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    list-style-position: inside;
    box-shadow: 9px 12px 12px rgba(0, 0, 0, 0.315);
}

.celular-lista > ul > li{
    font-size: 1.5rem;
    padding: 20px 0;
    font-weight: bold;
}


/* Seção do desenvolvimento */

.desenvolvimento h1{
    text-align: center;
    font-size: 3rem;
    padding: 20px 0 60px 0;
}

.desenvolvimento-bolas, .desenvolvimento-titulos{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.desenvolvimento .bola{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: rgb(189, 186, 186);
}

.desenvolvimento .verificado{
    background-color: rgb(88, 236, 88)
}

hr{
    border-color: rgb(48, 47, 47);
    width: 1320px;
    margin: auto;
}
.desenvolvimento-titulos{
    padding-top: 10px;
    padding-left: 50px;
}

.desenvolvimento-titulos #idealizacao{
    margin-left: 0px;
}

.desenvolvimento-titulos #prototipacao{
    margin-left: 50px; 
}

.desenvolvimento-titulos #programacao{
    margin-left: 20px;
}

.desenvolvimento-titulos #pre{
    margin-left: 20px;
}

.integrantes{
    margin-top: 50px;
    text-align: center;
}

.integrantes h1{
    text-align: center;
    font-size: 3rem;
}

.integrantes p{
    padding-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.fotos{
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
}

.foto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: gray;
}



footer{
    background-color: #474747;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: white;
}
footer img{
    width: 200px;
}

.rede{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}